<form id="frmDocumentacao">
    <div class="box box-widget collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title" onclick="Next('btnDoc', 'btnFA')">Documentos</h3>
            <div class="box-tools pull-right">
                <button id="btnDoc" type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Número da Carteira de Trabalho</label>
                        <div id="txtCarteiraTrabalho"></div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label>Série</label>
                        <div id="nbbSerie"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Estado Emissor</label>
                        <div id="slbEstadoEmissor"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Título</label>
                        <div id="txtTitulo"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Zona</label>
                        <div id="txtZona"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Sessão</label>
                        <div id="txtSessao"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Reservista</label>
                        <div id="txtReservista"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Carteira de Habilitação</label>
                        <div id="txtHabilitacao"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Categoria</label>
                        <div id="slbCategoria"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>RG</label>
                        <div id="txtRg"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Data Emissão</label>
                        <div id="dtbRgEmissao"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Órgão Emissor</label>
                        <div id="txtRgEmissor"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Órgã de Classe(OAB, CREA, etc)</label>
                        <div id="txtRgOrgaoClasse"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Nº de Registro</label>
                        <div id="nbbRgNumRegistro"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>PIS</label>
                        <div id="txtPis"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div id="divDocumentacaoValidacoes"></div>
            <div id="btnDocumentacao" class="pull-right"></div>
        </div>
    </div>
</form>