<form id="frmExperiencia">
    <div class="box box-widget collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title" onclick="Next('btnEP', 'btnPO'); grdExperiencia.refresh();">Experiências Profissionais</h3>
            <div class="box-tools pull-right">
                <button id="btnEP" type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nome da Empresa</label>
                        <div id="txtEmpresa"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Telefone</label>
                        <div id="txtTelefone"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Data de Entrada</label>
                        <div id="dtbEntrada"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Data de Saída</label>
                        <div id="dtbSaida"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Cargo Inicial</label>
                        <div id="txtCargoInicial"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Cargo Final</label>
                        <div id="txtCargoFinal"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Último Salário</label>
                        <div id="nbbUltimoSalario"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Benefícios</label>
                        <div class="row">
                            <div class="col-md-2">
                                <div id="chkValeTransporte"></div>
                            </div>
                            <div class="col-md-2">
                                <div id="chkValeRefeicao"></div>
                            </div>
                            <div class="col-md-2">
                                <div id="chkAssistenciaMedica"></div>
                            </div>
                            <div class="col-md-2">
                                <div id="chkPlanoOdontologico"></div>
                            </div>
                            <div class="col-md-2">
                                <div id="chkBolsaEstudo"></div>
                            </div>
                            <div class="col-md-2">
                                <div id="chkCestaBasica"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div id="chkValeAlimentcao"></div>
                            </div>
                            <div class="col-md-2">
                                <div id="chkRefeitorioLocal"></div>
                            </div>
                            <div class="col-md-2">
                                <div id="chkValeCultura"></div>
                            </div>
                            <div class="col-md-2">
                                <div id="chkAuxilioCreche"></div>
                            </div>
                            <div class="col-md-2">
                                <div id="chkHorarioFlexivel"></div>
                            </div>
                            <div class="col-md-2">
                                <div id="chkOutros"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div id="txtOutros"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label>Por que saiu (ou pretende sair) da empresa?</label>
                        <div id="txtMotivoSaida"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <div>
                            <div id="btnAddExperiencia"></div>
                            <div id="btnUpdExperiencia"></div>
                            <div id="btnDelExperiencia"></div>
                            <input type="hidden" id="hiddenExperienciaKey" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="grdExperiencia"></div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div id="divExperienciaValidacoes"></div>
            <div id="btnExperiencia" class="pull-right"></div>
        </div>
    </div>
</form>
