<form id="identificacao">
    <div class="box box-widget">
        <div class="box-header with-border">
            <h3 class="box-title" onclick="Next('btnIden', 'btnDoc')">Identificação</h3>
            <div class="box-tools pull-right">
                <button id="btnIden" type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Informe seu CPF</label>
                        <div id="txtCpf"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nome</label>
                        <div id="txtNome"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Gênero</label>
                        <div id="rdbGenero"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Data de Nascimento</label>
                        <div id="dtbNascimento"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Idade</label>
                        <div id="txtIdade"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Estado Civil</label>
                        <div id="slbEstadoCivil"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Nacionalidade</label>
                        <div id="slbNacionalidade"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>CEP</label>
                        <div id="txtCep"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Endereço</label>
                        <div id="txtEndereco"></div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label>Número</label>
                        <div id="nbbNumero"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Complemento</label>
                        <div id="txtComplemento"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Bairro</label>
                        <div id="txtBairro"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Cidade</label>
                        <div id="txtCidade"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Estado</label>
                        <div id="slbEstado"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Naturalidade</label>
                        <div id="txtNaturalidade"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Estado</label>
                        <div id="slbEstadoNaturalidade"></div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label>Peso</label>
                        <div id="nbbPeso"></div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label>Altura</label>
                        <div id="nbbAltura"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <div class="form-group">
                        <label>Calça</label>
                        <div id="nbbCalca"></div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label>Camisa</label>
                        <div id="nbbCamisa"></div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label>Sapato</label>
                        <div id="nbbSapato"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Fone</label>
                        <div id="txtFone"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Celular</label>
                        <div id="txtCelular"></div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Tel/Recado</label>
                        <div id="txtRecado"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>E-mail</label>
                        <div id="txtEmail"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>LinkedIn</label>
                        <div id="txtLinkedIn"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nome Pai</label>
                        <div id="txtNomePai"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Nacionalidade</label>
                        <div id="slbPaiNacionalidade"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nome Mãe</label>
                        <div id="txtNomeMae"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Nacionalidade</label>
                        <div id="slbMaeNacionalidade"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nome Cônjuge</label>
                        <div id="txtConjuge"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Nacionalidade</label>
                        <div id="slbNacionalidadeConjuge"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Você possui algum tipo de deficiência?</label>
                        <div id="slbDeficiencia"></div>
                    </div>
                </div>
                <div class="col-md-3" id="divDeficiencia" style="display: none">
                    <div class="form-group">
                        <label>Qual?</label>
                        <div id="txtDeficiencia"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <span class="box-title" onclick="$('#btnFilhos').click()">Filhos</span>
                            <div class="box-tools pull-right">
                                <button id="btnFilhos" type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Tem Filhos(s)?</label>
                                        <div id="slbFilho"></div>
                                    </div>
                                </div>
                                <div class="col-md-2" id="divNumeroFilho" style="display: none">
                                    <div class="form-group">
                                        <label>Quantos?</label>
                                        <div id="slbNumeroFilho"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="divFilhos"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div id="divIdentificacaoValidacoes"></div>
            <div id="btnIdentificacao" class="pull-right"></div>
        </div>
    </div>
</form>