<form id="frmInformacaoGeral">
    <div class="box box-widget collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title" onclick="Next('btnIG', 'btnEP')">Informações Gerais</h3>
            <div class="box-tools pull-right">
                <button id="btnIG" type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <label>Indique como ficou sabendo da Vaga</label>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div id="chkAgencia"></div>
                        <div id="txtAgencia"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div id="chkInternet"></div>
                        <div id="chkSine"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div id="chkOutraForma"></div>
                        <div id="txtOutraForma"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div id="chkIndicacao"></div>
                        <div style="display: flex">
                            <div id="txtNomeIndicacao"></div>
                            <div id="txtCargoIndicacao"></div>
                            <div id="txtUnidadeIndicacao"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Já trabalhou nesta empresa ou em outra do grupo?</label>
                        <div id="slbJaTrabalhou"></div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <div style="display: flex">
                            <div id="txtCargoTrabalhado"></div>
                            <div id="txtAreaTrabalhada"></div>
                            <div id="txtChefeTrabalhado"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div id="divGeralValidacoes"></div>
            <div id="btnGeral" class="pull-right"></div>
        </div>
    </div>
</form>
