<form id="frmPretensao">
    <div class="box box-widget collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title" onclick="Next('btnPO', 'btnIden')">Pretensões e Objetivos</h3>
            <div class="box-tools pull-right">
                <button id="btnPO" type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Selecione o cargo de seu interesse</label>
                        <div id="slbCargo"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Você concorda em trabalhar em Horário Extra?</label>
                        <div id="slbTrabalharHoraExtra"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Selecione o horário de sua Preferência</label>
                        <div id="slbHorarioDesejado"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Pretensão Salarial</label>
                        <div id="slbPretensaoSalarial"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>No campo abaixo, coloque informações que você ache interessante sabermos ao seu respeito</label>
                        <div id="txaDescricaoPessoal"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div id="divPretensaoValidacoes"></div>
            <div id="btnPretensao" class="pull-right"></div>
        </div>
    </div>
</form>
