@using VicPortalRH.Services

@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment henv
@inject VersionService Version

@{
    Layout = "~/Views/Shared/_Curriculum.cshtml";
    ViewData["Title"] = "Curriculum";
}

@if (henv.EnvironmentName == "Development")
{
    <script src="~/Scripts/Views/Curriculum.js?"></script>
}
else
{
    <script src="~/Bundle/js/Curriculum.min.js?@Version.GetVersion()"></script>
}

<div class="container-fluid">
    <section class="content">
        <div class="box box-widget">
            <div class="box-body">
                <input type="hidden" id="hiddenCdCandidato" />
                @await Html.PartialAsync("_Identificacao")
                @await Html.PartialAsync("_Documentacao")
                @await Html.PartialAsync("_Formacao")
                @await Html.PartialAsync("_InformacoesGerais")
                @await Html.PartialAsync("_Experiencias")
                @await Html.PartialAsync("_Pretensao")
            </div>
        </div>
    </section>
</div>

@await Html.PartialAsync("_ValidacaoCandidato")
