<div id="modalAlterarSenha" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalAlterarSenha" aria-hidden="false">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Alterar senha</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Senha atual</label>
                                    <div id="txtSenhaAtual"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nova senha</label>
                                    <div id="txtNovaSenha"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Confirmação da nova senha</label>
                                    <div id="txtConfirmacaoSenha"></div>
                                </div>
                            </div>
                        </div>

                        <div id="divSenhaValidacoes"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="btnConfirmar" class="pull-right" style="margin-left: 5px;"></div>
                <div id="btnCancelar" data-dismiss="modal"></div>
            </div>
        </div>
    </div>
</div>