@using VicPortalRH.Services

@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment henv
@inject VersionService Version

@{
    ViewData["Title"] = "Home";
}

@if (henv.EnvironmentName == "Development")
{
    <script src="~/Scripts/Views/Home.js?"></script>
}
else
{
    <script src="~/Bundle/js/Home.min.js?@Version.GetVersion()"></script>
}

<link type="text/css" rel="stylesheet" media="screen" href="~/Css/Home.css" />

<section class="content">
    <div class="box box-widget">
        <div class="box-body">
            <div class="bem-vindo">
                <strong>Bem-vindo ao Portal RH,</strong>
                <span id="spanBemVindo"></span>
                <img src="~/Images/bem-vindo.svg" height="500" />
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("_AlterarSenha")