@using VicPortalRH.Services

@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment henv
@inject VersionService Statics

@{
    ViewData["Title"] = "Programação de Exames / Procedimentos";
}

@if (henv.EnvironmentName == "Development")
{
    <script src="~/Scripts/Views/Programacao.js?"></script>
}
else
{
    <script src="~/Bundle/js/Programacao.min.js?@Statics.GetVersion()"></script>
}

<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Programação de Exames / Procedimentos</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="row col-md-12">
                        <div class="box">
                            <div class="box-body">
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>Filial</label>
                                        <div id="slbFilial"></div>
                                    </div>
                                    <div class="col-md-9">
                                        <label>Procedimento</label>
                                        <div id="slbProcedimento"></div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-8">
                                        <label>Matrícula - Nome</label>
                                        <div id="slbMatricula"></div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Data Validade</label>
                                        <div id="dtbValidade"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="btnCancelar"></div>
                                        <div id="btnSalvar" class="pull-right"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Importar Excel</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="fupDocumentos"></div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="btnLimpar"></div>
                                    <div id="btnImportar" class="pull-right"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div id="grdProgramacoes" class="form-group"></div>
                </div>
            </div>
        </div>
    </div>
</section>
