<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="urlAppServerHCM" value="appServer://srv05lnx05/vic-pct-totvshcm"/>
  </appSettings>
  <connectionStrings>
    <add name="VicSaudeSeguranca" connectionString="AABFCCCDC3CDCE7AADBFBDCFCCC3CED37AA3C8C0C997AECCCFBF959EBBCEBB7AADC9CFCCBDBF978B918C888D8B888A888B8E9395A3C8C3CEC3BBC67A9DBBCEBBC6C9C197B0C3BDADBBCFBEBFADBFC1CFCCBBC8BDBB95AFCDBFCC7AA39E97CFCDCCCDBBCFBEBFCDBFC195AABBCDCDD1C9CCBE977E80C1CFCC9AC89D9A7EBBCFBE8095CAC9C9C6C3C8C197C0BBC6CDBF95" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
