@await Html.PartialAsync("_Desenvolvimento")
@*@using VicPortalRH.Services

    @inject Microsoft.AspNetCore.Hosting.IHostingEnvironment henv
    @inject VersionService Version

    @{
        ViewData["Title"] = "Consulta Banco de Horas";
    }

    @if (henv.EnvironmentName == "Development")
    {
        <script src="~/Scripts/Views/ConsultaBancoHoras.js?"></script>
    }
    else
    {
        <script src="~/Bundle/js/ConsultaBancoHoras.min.js?@Version.GetVersion()"></script>
    }

    <style type="text/css">
        .resumo {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1em;
            list-style: none;
            padding: 0;
        }

        @@media (max-width: 1440px) {
            .resumo {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        @@media (max-width: 1140px) {
            .resumo {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @@media (max-width: 840px) {
            .resumo {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    </style>

    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title SemiBold">Consulta de Banco de Horas</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Ano de referência: </label>
                            <div id="slbAnos"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-widget">
                            <div class="box-header with-border">
                                <h4 class="box-title SemiBold">Resumo Anual</h4>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="info-box info-vicunha-box">
                                            <span class="info-box-icon info-vicunha-box-icon bg-vicunha-roxo"><i class="fa fa-clock-o"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-text">Saldo inicial do Ano</span>
                                                <span class="info-box-number" id="spanSaldoAnoAnterior"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="info-box info-vicunha-box">
                                            <span class="info-box-icon info-vicunha-box-icon bg-vicunha-blue" id="divSaldo"><i class="fa fa-clock-o"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-text ">Saldo Atual</span>
                                                <span class="info-box-number" id="spanSaldoAtual"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-widget">
                            <div class="box-header with-border">
                                <h3 class="box-title SemiBold" id="description"></h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="resumo" id="divResumoMensal"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12" style="padding: .5em 1em;">
                        <span id="spanDetalhe"></span>
                    </div>
                </div>
            </div>
        </div>

        @await Html.PartialAsync("_Detalhes")
    </section>*@
