<div id="contato" class="conta" style="display: none">
    <h3 id="h3TitleContato"></h3>
    
    <div>
        <label>Celular(com DDD)</label>
        <div id="txtCelular" class="form-group"></div>
    </div>
    <div>
        <label>E-mail</label>
        <div id="txtEmail" class="form-group"></div>
    </div>

    <div style="align-self: flex-end; margin-top: 2em; flex: 1">
        <div id="btnCancelarContato"></div>
        <div id="btnValidarContato"></div>
    </div>
</div>
