<div id="divQuestionario" class="conta" style="display: none;">
    <h3>Precisamos que você confirme esta informação:</h3>
    <div class="col-md-12">
        <label id="lblQuestion"></label>
        <div id="rbgOptions"></div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top:2rem !important;">
            <div id="btnVerificar"></div>
        </div>
    </div>
</div>