@using VicPortalRH.Services

@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment henv
@inject VersionService Version

@{
    Layout = "";
    ViewData["Title"] = "Conta";
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@ViewBag.Title - Vicunha Textil®</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="shortcut icon" href="~/favicon.ico" />
        <link rel="apple-touch-icon" href="~/favicon.ico">

        <link href="~/AdminLTE-2.4.18/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/AdminLTE-2.4.18/Ionicons/css/ionicons.min.css" rel="stylesheet" />
        <link href="~/AdminLTE-2.4.18/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/AdminLTE-2.4.18/dist/css/AdminLTE.min.css" rel="stylesheet" />
        <link href="~/AdminLTE-2.4.18/dist/css/skins/skin-blue.min.css" rel="stylesheet" />

        <!-- CSS Import -->
        <link href="~/Css/Rawson/Rawson.css" rel="stylesheet" />
        <link href="~/Css/Site.css" rel="stylesheet" />
        <link href="~/Css/Vicunha.css" rel="stylesheet" />
        <link href="~/DevExtreme/dx.common.css" rel="stylesheet" />
        <link href="~/DevExtreme/dx.light.css" rel="stylesheet" />

        <script src="~/Bundle/js/site.min.js"></script>
        <script src="~/Bundle/js/DevExtreme.min.js"></script>

        <link type="text/css" rel="stylesheet" media="screen" href="~/Css/Login.css" />

        <style type="text/css">
            .content {
                display: flex;
                background-color: #FDFDFD;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px;
                padding: 2em 2em 2em;
                justify-content: center;
            }

            .conta {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

                .conta > h3 {
                    margin: 0;
                    margin-bottom: 1em;
                    font-size: 2rem;
                }

                .conta .actions {
                    margin-top: 2em;
                    flex: 1;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }

                    .conta .actions #btnValidar {
                        margin-left: 1em;
                    }

            #divLogin {
                height: auto !important;
                margin-top: -5em !important;
                position: absolute !important;
            }
        </style>

        @if (henv.EnvironmentName == "Development")
        {
            <script src="~/Scripts/Views/Conta.js"></script>
            <script src="~/Scripts/Vicunha/Global.js"></script>
            <script src="~/Scripts/Vicunha/GlobalServices.js"></script>
            <script src="~/Scripts/Vicunha/GlobalDevExtremeCommon.js"></script>
            <script src="~/Scripts/Lib/Moment/moment-with-locales.js"></script>
        }
        else
        {
            <script src="~/Bundle/js/Conta.min.js?@Version.GetVersion()"></script>
            <script src="~/Bundle/js/Global.min.js?@Version.GetVersion()"></script>
            <script src="~/Bundle/js/Lib.min.js?@Version.GetVersion()"></script>
        }

    </head>
    <body>
        <div id="login">
            <header></header>
            <main>
                <div class="login-container" style="margin:-18rem auto !important;">
                    <div id="matricula" class="conta">
                        <h3 id="h3LoginTitle"></h3>

                        <div class="form-group">
                            <label>Usuário</label>
                            <div id="txtMatricula" class="form-group"></div>
                        </div>
                        <div class="form-group">
                            <label>Celular(com DDD)</label>
                            <div id="txtCelular" class="form-group"></div>
                        </div>
                        <div class="form-group">
                            <label>E-mail</label>
                            <div id="txtEmail" class="form-group"></div>
                        </div>

                        <div style="align-self: flex-end; flex: 1">
                            <div id="btnCancelar"></div>
                            <div id="btnValidar"></div>
                        </div>
                    </div>
                    @await Html.PartialAsync("_Contato")
                    @await Html.PartialAsync("_Questionario")
                    @await Html.PartialAsync("_ValidacaoUsuario")
                </div>
            </main>
            <footer>
                <div class="ribbon">
                    <div class="blue-bar"></div>
                    <div class="yellow-bar"></div>
                    <div class="green-bar"></div>
                    <div class="orange-bar"></div>
                    <div class="light-blue-bar"></div>
                    <div class="purple-bar"></div>
                </div>
                <div class="info">
                    <div class="pull-right">
                        <span>Versão: @Version.GetVersion()</span>
                    </div>
                    <div>
                        <span>Copyright © @DateTime.Now.Year <a href="https://www.vicunha.com">Vicunha</a>. Todos os direitos reservados.</span>
                    </div>
                </div>
            </footer>
        </div>
        <div id="loadPanel"></div>
        <div id="message"></div>
    </body>
</html>