@using VicPortalRH.Services

@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment henv
@inject VersionService Version

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - Vicunha Textil®</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="apple-touch-icon" href="~/favicon.ico">

    <link href="~/AdminLTE-2.4.18/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/AdminLTE-2.4.18/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/AdminLTE-2.4.18/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/AdminLTE-2.4.18/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/AdminLTE-2.4.18/dist/css/skins/skin-blue.min.css" rel="stylesheet" />

    <link href="~/Css/Rawson/Rawson.css" rel="stylesheet" />
    <link href="~/Css/Vicunha.css" rel="stylesheet" />
    <link href="~/Css/Site.css" rel="stylesheet" />
    <link href="~/Css/Curriculum.css" rel="stylesheet" />
    <link href="~/DevExtreme/dx.common.css" rel="stylesheet" />
    <link href="~/DevExtreme/dx.light.css" rel="stylesheet" />

    <script src="~/Bundle/js/site.min.js"></script>
    <script src="~/Bundle/js/DevExtreme.min.js"></script>
    <script src="~/Bundle/js/Lib.min.js"></script>

    @if (henv.EnvironmentName == "Development")
    {
        <script src="~/Scripts/Vicunha/Global.js"></script>
        <script src="~/Scripts/Vicunha/GlobalDevExtremeCommon.js"></script>
        <script src="~/Scripts/Vicunha/GlobalServices.js"></script>
    }
    else
    {
        <script src="~/Bundle/js/Global.min.js?@Version.GetVersion()"></script>
    }
</head>
<body class="skin-black layout-top-nav">
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="container">
                    <div class="curriculum-header">
                        <a href="https://www.vicunha.com/">
                            <img src="~/Images/LogoVicunhaIdentity.png" alt="Vicunha Identity" />
                        </a>
                        <span>Currículum</span>
                    </div>
                </div>
            </nav>
        </header>
        <div class="content-wrapper" style="min-height: 762px;">
            <div id="message"></div>
            @RenderBody()
        </div>
        <div id="ribbon">
            <div class="blue-bar" style="flex: 1; background-color: #0055B8;"></div>
            <div class="yellow-bar" style="flex: 1; background-color: #F5CE3E;"></div>
            <div class="green-bar" style="flex: 1; background-color: #6ABF4B;"></div>
            <div class="orange-bar" style="flex: 1; background-color: #FF9300;"></div>
            <div class="light-blue-bar" style="flex: 1; background-color: #87D1E6;"></div>
            <div class="purple-bar" style="flex: 1; background-color: #773DBD;"></div>
        </div>
        <div id="loadPanel"></div>
        <footer class="Rawson">
            <span>Copyright © @DateTime.Now.Year <strong><a href="https://www.vicunha.com.br">Vicunha</a>.</strong> Todos os direitos reservados.</span>
        </footer>
    </div>
</body>

</html>