@using VicPortalRH.Services

@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment henv
@inject VersionService Version

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - Vicunha Textil®</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="apple-touch-icon" href="~/favicon.ico">

    <!-- CSS Import -->
    <link href="~/AdminLTE-2.4.18/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/AdminLTE-2.4.18/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/AdminLTE-2.4.18/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/AdminLTE-2.4.18/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/AdminLTE-2.4.18/dist/css/skins/skin-blue.min.css" rel="stylesheet" />

    <link href="~/Css/Rawson/Rawson.css" rel="stylesheet" />
    <link href="~/Css/Vicunha.css" rel="stylesheet" />
    <link href="~/Css/Site.css" rel="stylesheet" />
    <link href="~/DevExtreme/dx.common.css" rel="stylesheet" />
    <link href="~/DevExtreme/dx.light.css" rel="stylesheet" />

    <script src="~/Bundle/js/site.min.js"></script>
    <script src="~/Bundle/js/DevExtreme.min.js"></script>
    <script src="~/Bundle/js/Lib.min.js"></script>

    @if (henv.EnvironmentName == "Development")
    {
        <script src="~/Scripts/Vicunha/Global.js"></script>
        <script src="~/Scripts/Vicunha/GlobalServices.js"></script>
        <script src="~/Scripts/Vicunha/GlobalDevExtremeCommon.js"></script>
    }
    else
    {
        <script src="~/Bundle/js/Global.min.js?@Version.GetVersion()"></script>
    }
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="/Home" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini Rawson"><b>P</b>RH</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b class="BlackIt" style="font-size: 30px">PortalRH</b></span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img id="imgUsuario" class="user-image" />
                                <span id="spanUsuario" class="hidden-xs SemiBold" ;">Usuário</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img class="img-circle" alt="User Image" id="imgUsuarioExpandido">
                                    <p>
                                        <span id="spnFullUsuario"></span>
                                        <small id="smallFuncao"></small>
                                    </p>
                                </li>                                
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a id="btnAlterarSenha" href='#' data-toggle="control-sidebar" class="btn btn-default btn-flat"><i class="fa fa-key"></i> Alterar senha</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="logout" href="#" data-toggle="control-sidebar"><i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar Rawson">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar" style="color:#DCDCDC !important">
                <!-- Sidebar Menu -->
                @await Html.PartialAsync("_MainMenu")
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div id="message"></div>
            @RenderBody()
            <!-- /.content -->
        </div>
        <div id="loadPanel"></div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer Rawson" style="font-size:12px">
            <!-- Default to the left -->
            <div class="pull-right">
                <b>Versão: </b>@Version.GetVersion()
            </div>
            <strong>Copyright © @DateTime.Now.Year <a href="https://www.vicunha.com">Vicunha</a>.</strong> Todos os direitos reservados.
        </footer>
    </div>
</body>
</html>