.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    opacity: 0.9;
}

.bg-vicunha-green, .bg-vicunha-orange, .bg-vicunha-yellow, .bg-vicunha-roxo, .bg-vicunha-blue, .bg-vicunha-light-blue {
    color: #fff !important
}

.bg.vicunha.bg-vicunha-default {
    color: #333333 !important;
}

.bg-vicunha-green {
    background-color: #6ABF4B !important
}

.bg-vicunha-orange {
    background-color: #FF9300 !important
}

.bg-vicunha-yellow {
    background-color: #F5CE3E !important
}

.bg-vicunha-roxo {
    background-color: #773DBD !important
}

.bg-vicunha-blue {
    background-color: #0055B8 !important
}

.bg-vicunha-light-blue {
    background-color: #87D1E6 !important
}

.bg-vicunha-default {
    background-color: #F5F5F5 !important;
}

    .bg-vicunha-default:hover {
        color: #333333 !important;
    }

.info-vicunha-box {
    min-height: 60px;
}

.info-vicunha-box-icon {
    max-width: 60px;
    max-height: 60px;
    line-height: 60px;
    font-size: 30px;
}

.dx-toast-message {
    white-space: pre-line;
}

.dx-overlay-shader {
    background-color: rgba(0,0,0,0.5) !important;
}

